@font-face{
    font-family: myFont;
    src: url(../Assets/Fonts/BebasNeue-Regular.ttf);
} 
body {
    margin: 0;
    text-align: center;
    background: linear-gradient(132deg, #CA7768, #815E5B);
    background-size: 400% 400%;
    animation: anigradient 15s ease infinite;
    font-family: 'Noto Sans JP', sans-serif;
}
@keyframes anigradient {
    0% {
        background-position: 50% 0%
    }

    50% {
        background-position: 60% 100%
    }

    100% {
        background-position: 50% 0%
    }
}

#navbar{
    background-color:transparent;
    height: 50px;
    padding-top: 5px;
    padding-bottom: 5px;
}
#navbar img{
    height: 70px;
    float: left;
}
ul{
    text-align: right;
    list-style: none;
}
li{
    display: inline;
}
li img{
    height: 100px;
    width: auto;
}
li a {
    font-size: 25px;
    padding: 5px 15px;
    text-align: center;
    color: white;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    transition: .6s;
}
a:hover{
    transform: translate(5px 5px);
    text-shadow: 3px 4px 6px #941e00;
}
#welcome{
    color: antiquewhite;
    padding:3cm 2cm 4cm 2cm;
    font-size: 80px;
    font-family: myFont;
    text-shadow: 20px 20px 500px rgb(136, 129, 99);
}
#content{
    
    font-size: 21px;
    background-color: #FFF1E6;
    padding:100px 300px 200px 300px;
    box-shadow: -15px 5px 100px black;
}
.title{
    font-family: 'B612 Mono', monospace;
    color: darksalmon;
    font-size: 102%;
}
.card{
    text-align: left;
    margin:30px 30px 30px 30px;
    padding: 30px 20px 30px 20px ;
}
.name{
    color:chocolate;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
font-weight: 200;
}
.text{
color: coral;
}
.socials img{height:40px;
    filter: grayscale();
    transition: 0.8s;
}
.socials img:hover{
    transform: rotate(720deg);
    filter: none;
}

#bottom {
    background-color:#fbc194;
    padding-bottom: 20px;
}

.addrcont {
    display: inline-block;
    width: 6cm;
    height: 3cm;
    text-align: center;
    margin-top: 10px;
    padding-bottom: 20px;
}
.addrcont img{
height: 30px;
width: auto;
}
